 <!-- About Section -->
 <section class="success" id="codes">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Codes</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 test-center">
                <p> I developed a number of software packages: dynamical modeling of broad-line regions (BRAINS),
                    reverberation mapping analysis (MICA2), time series reconstruction (RECON),
                    light-curve inter-calibration (PyCALI), diffusive nested sampling (CDNest),
                    a Pixon-based reverberation mapping analysis method (PIXON), and a package 
                    for astronomical analysis tools. </p>
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <a href="https://github.com/LiyrAstroph/BRAINS" class="btn btn-lg btn-outline">
                    <i class="fa fa-file-text" aria-hidden="true"></i> BRAINS
                </a>
                <a href="https://github.com/LiyrAstroph/MICA2" class="btn btn-lg btn-outline">
                    <i class="fa fa-file-text" aria-hidden="true"></i> MICA2
                </a>
                <a href="https://github.com/LiyrAstroph/RECON" class="btn btn-lg btn-outline">
                    <i class="fa fa-file-text" aria-hidden="true"></i> RECON
                </a>
                <a href="https://github.com/LiyrAstroph/PyCALI" class="btn btn-lg btn-outline">
                    <i class="fa fa-file-text" aria-hidden="true"></i> PyCALI
                </a>
                <a href="https://github.com/LiyrAstroph/CDNest" class="btn btn-lg btn-outline">
                    <i class="fa fa-file-text" aria-hidden="true"></i> CDNest
                </a>
                <a href="https://github.com/LiyrAstroph/PIXON" class="btn btn-lg btn-outline">
                    <i class="fa fa-file-text" aria-hidden="true"></i> PIXON
                </a>
                <a href="https://github.com/LiyrAstroph/PyAT" class="btn btn-lg btn-outline">
                    <i class="fa fa-file-text" aria-hidden="true"></i> PyAT
                </a>
            </div>
        </div>
    </div>
</section>